html
	head
		title Изменить задачу
	body
		h1 Изменить задачу
	-if (error)
		div error
	-else
		form(name="editUser", method="post")
			div.input
				span.label Имя
				br
				input(type="text", name="name" value=task.name)
			div.input
				span.label Описание
				br
				textarea(name="description", cols="40", rows="5")
					=task.description
			br
			-if (task.opened)	
				input(type="radio", name="opened", value="1", checked=true)
			-else
				input(type="radio", name="opened", value="1")
			span.label Открыта
			-if (task.opened)	
				input(type="radio", name="opened", value="0")
			-else
				input(type="radio", name="opened", value="0", checked=true)
			span.label Закрыта
			br
			br
			-if(task.users.length)
				span.label Делегировать на пользователя
				br
				select(id="user", name="user", size=5)
					-for item in task.users
						option(value=item.id, selected=task.user == item.id)
							=item.name
			
			div.actions
				br
				input(type="submit", value="Изменить")
		p
			a(class='button', href='/') Вернуться в список